/* comment = true */

.commentLayout {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-62px);
  margin-right: 20px;
}

.commentSubmitButton {
  width: 72px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  font-size: 14px;
}

/* comment = false */

.layout {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.submitButton {
  width: 60px;
  height: 40px;
  border: var(--gray-300) solid 1px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
}

.submitButton:hover {
  background-color: var(--primary);
  color: white;
  border: none;
}

.cancelButton {
  width: 60px;
  height: 40px;
  border: var(--gray-300) solid 1px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
}
