.layout {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.submitButton {
  width: 260px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
}
