.layout {
  padding: 40px 0;
  border-top: var(--gray-200) solid 1px;
}

.layout2 {
  margin: 0 auto;
  max-width: 1024px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}

.table {
  border-top: var(--gray-300) solid 1px;
  border-bottom: var(--gray-300) solid 1px;
  width: 1024px;
  margin-bottom: 40px;
}

tbody tr th {
  width: 180px;
  font-weight: bold;
  border-right: var(--gray-300) solid 1px;
  font-size: 14px;
}

tbody tr td {
  padding: 35px;
  font-size: 14px;
}

/* --------------------------------- 프로필 사진 --------------------------------- */

.line {
  border-bottom: var(--gray-300) solid 1px;
}

.profile_img {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}

.profile_button {
  display: flex;
  gap: 10px;
}

.profile_button button {
  background-color: transparent;
  border: var(--gray-300) solid 1px;
  padding: 7px;
  font-size: 12px;
  border-radius: 5px;
}

.info_layout {
  display: flex;
}

.info {
  display: flex;
  flex-flow: column;
  width: 300px;
  gap: 10px;
}

.info div p {
  font-weight: bold;
}

.nickname {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nickname input {
  border: var(--gray-300) solid 1px;
  height: 15px;
  padding: 5px;
  border-radius: 5px;
}

.nickname input:focus {
  outline: none;
  border-color: var(--primary);
}

.cat_check {
  display: flex;
  gap: 10px;
}

.cat_check input {
  margin-right: -5px;
}

.cat_check input:checked {
  accent-color: var(--primary);
}

/* ---------------------------------- 정보 수정 --------------------------------- */

.info_detail {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.cat_info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cat_info p {
  font-weight: bold;
}

.cat_info input {
  border: var(--gray-300) solid 1px;
  height: 15px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

.cat_info input:focus {
  outline: none;
  border-color: var(--primary);
}

.cat_info input[name='gender'] {
  margin-right: -5px;
}

.cat_info input[name='gender']:checked {
  accent-color: var(--primary);
}

.cat_info select {
  padding: 2px;
  text-align: center;
  border: var(--gray-300) solid 1px;
  border-radius: 5px;
}

.cat_info select:focus {
  outline: none;
  border-color: var(--primary);
}
