.layout {
  margin-top: 70px;
  width: 485px;
}

.title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}

.group {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 23px;
}

.post::after {
  content: '';
  border: var(--gray-200) solid 1px;
  position: absolute;
  width: 485px;
  left: 0;
  bottom: -13px;
}

.post {
}

.date {
}

.pagination {
  display: flex;
}
