.layout {
  display: flex;
  flex-flow: column nowrap;
  margin: 90px 0 10px 0;
}

.label {
  font-size: 22px;
  position: relative;
}

.label::before {
  content: '';
  border: 1px solid var(--gray-300);
  position: absolute;
  width: 100%;
  transform: translateY(-40px);
}

.form {
  width: calc(1024px - 40px);
  height: 100px;
  margin-top: 30px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  resize: none;
  padding: 20px;
}

.form::placeholder {
  color: var(--gray-300);
  opacity: 1; /* 파이어폭스에서 흐리게 보이는 현상 해결 방안 */
}

.form:focus {
  outline: none;
}
