.layout {
  display: flex;
  flex-flow: column nowrap;
  margin: 90px 0 50px 0;
}

.label {
  font-size: 22px;
}

.form {
  width: auto;
  height: 100px;
  margin: 30px 0 50px 0;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  resize: none;
  padding: 20px;
}

.form::placeholder {
  color: var(--gray-300);
  opacity: 1; /* 파이어폭스에서 흐리게 보이는 현상 해결 방안 */
}

.form:focus {
  outline: none;
}
