.layout {
  display: flex;
  flex-flow: column nowrap;
  margin: 90px 0 10px 0;
}

.label {
  font-size: 22px;
  position: relative;
}

.label::before {
  content: '';
  border: 1px solid var(--gray-300);
  position: absolute;
  width: 100%;
  transform: translateY(-40px);
}

.empty {
  text-align: center;
  margin: 30px 0 80px 0;
  color: var(--gray-400);
  font-size: 18px;
}
