.sortButton {
  background-color: white;
  border: none;
  border-top: 1px solid var(--gray-300);
  border-left: 1px solid var(--gray-300);
  border-right: 1px solid var(--gray-300);
  border-radius: 5px 5px 0 0;
  padding: 8px;
  margin-right: 20px;
  font-size: 12px;
}

.sortButton:first-child {
  margin-right: 8px;
}

.sortButton:hover {
  /* background-color: var(--secondary);
  color: white; */

  color: var(--primary);
}
