.layout {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.dot {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

/* show */
.option_show {
  position: absolute;
  font-size: 14px;
  top: 18px;
  border-left: 2px dashed var(--secondary);
  border-right: 2px dashed var(--secondary);
  border-bottom: 2px dashed var(--secondary);
  border-radius: 5px;
  padding: 15px 12px 15px 12px;
  display: flex;
  flex-flow: column nowrap;
}

/* hidden */
.option_hidden {
  display: none;
}

.option_show > button:first-child {
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.option_show > button:first-child:hover {
  color: var(--primary);
}

.option_show > button:last-child {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.option_show > button:last-child:hover {
  color: var(--primary);
}
