.layout {
  margin: 0 auto;
  max-width: 1024px;
  padding: 40px 0;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 40px;
}

.category {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}
