.layout {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 30px 0;
}

.title {
  font-size: 22px;
}

.info {
  display: flex;
  align-items: center;
}

.nickname::after {
  content: '•';
  padding: 0 10px 0 10px;
  color: var(--gray-500);
}

.dot::before {
  content: '•';
  padding: 0 4px 0 11px;
  color: var(--gray-500);
}

.content {
  padding-top: 30px;
}

.content::before {
  content: '';
  border: 1px solid var(--gray-300);
  position: absolute;
  width: 100%;
  top: 60px;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}

.picture {
  border: 1px solid var(--gray-300);
  width: 500px;
  height: 300px;
  margin-top: 50px;
  object-fit: cover;
}

/* 좋아요 눌렀을 때 */
.like {
  width: 70px;
  height: 50px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  background-color: transparent;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* 좋아요 안 눌렀을 때 */
.like_no {
  width: 70px;
  height: 50px;
  font-weight: 600;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  background-color: transparent;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

/* 수정/삭제 */

.layout2 {
  display: flex;
  flex-flow: row nowrap;
  font-size: 14px;
}

.update {
  background-color: transparent;
  border: none;
}

.delete {
  background-color: transparent;
  border: none;
}

.update:hover,
.delete:hover {
  color: var(--primary);
}

.button {
  display: flex;
  justify-content: center;
  gap: 30px;
}
