.comment {
  margin-bottom: 80px;
  position: relative;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: var(--gray-500);
  font-size: 14px;
}

.position {
  display: flex;
  align-items: center;
  gap: 25px;
}

.date {
  color: var(--gray-500);
  font-size: 14px;
  padding-bottom: 5px;
}

.answer {
  margin: 30px 0 30px 0;
}

.comment::after {
  content: '';
  border: 1px solid var(--gray-300);
  position: absolute;
  width: 100%;
  bottom: -40px;
}
