.layout {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.paginate {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  margin: 0 4px;
}

.pageNumber {
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.pageNumber[aria-current] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: var(--primary);
}

.paginationButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.prev {
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  margin-right: 5px;
}

.next {
  width: 25px;
  height: 25px;
}

.paginationButton:disabled {
  cursor: default;
}
